{% extends "base.html.twig" %}
{% block meta %}<meta name="description" content="Conditions générales d'utilisations">{% endblock %}
{% block title %} conditions générales d'utilisation' {% endblock title %}

{% block body %}

<h1>Conditions générales d'utilisation</h1>




{% endblock body %}