{% extends "base.html.twig" %}
{% block meta %}<meta name="description" content="Conditions générales de ventes">{% endblock %}
{% block title %} conditions générales de ventes {% endblock title %}

{% block body %}

<h1>Conditions générales de ventes</h1>



<a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=FR">Règlement en ligne des litiges - Commission européenne</a>
{% endblock body %}