{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le site de l'echoppe{% endblock %}

{% block body %}

<h1>Bienvenue sur le site de l'échoppe</h1>

<p>Ici bientôt une page d'accueil...</p>

{% endblock %}
