{% extends "base.html.twig" %}
{% block meta %}<meta name="description" content="L'association l'échoppe est un bar associatif et une boutique de bières artisanales et locales...">{% endblock %}
{% block title %} Mentions légales {% endblock title %}

{% block body %}

<h1>Qui sommes-nous?</h1>


<img src="{{ asset('upload/images/site/'~ parameters.logoFile) }}" alt="logo du site" id="logo_header" >


{% endblock body %}