{% extends "base.html.twig" %}
{% block meta %}<meta name="description" content="Règlement général de proctection des données">{% endblock %}
{% block title %} Règlement général de protection des données {% endblock title %}

{% block body %}

<h1>règlement général de protection des données</h1>




{% endblock body %}