<h1>Bonjour et bienvenue sur notre site l'échoppe!</h1>

<p>
   Il ne vous reste plus q'une dernière étape avant de pouvoir accéder à toutes les fonctionnalités de notre boutique.<br>
   Merci de bien vouloir cliquer sur le lien ci-dessous pour valider votre adresse email:<br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a><br>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Santée!
</p>

