{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <p>
        Si vous avez déja un compte, un email vient de vous être envoyé. Il contient un lien qui vous permettra de réinitialiser votre mot de passe.<br>
       
        ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas de mail vérifiez votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">éssayez à nouveau</a>.</p>
{% endblock %}
