<h1>Votre nouveau mot de passe a bien été enregistré</h1>

<p>Le nouveau mot de passe de votre compte du site l'échoppe a bien été enregistré.</p>

<p>Votre mot de passe est strictement personnel, ne le communiqueaz jamais à un tiers.</p>



<p>Si vous n'êtes pas à l'origine de cette modification, veuillez immédiatement modifier votre mot de passe ou contacter <a href="mailto:&#x61;&#x64;&#x6d;&#x69;&#x6e;&#x40;&#x65;&#x78;&#x65;&#x6d;&#x70;&#x6c;&#x65;&#x2e;&#x63;&#x6f;&#x6d;">l'administrateur du site</a></p>

<p>Santé!</p>