{% extends 'base.html.twig' %}

{% block title %}Demande de nouveau de mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1 class="main_title_profil">Réinitialiser votre mot de passe</h1>
    <div class="formContainer">

        {{ form_start(requestForm) }}
        <div class="row">
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Veuillez renseigner votre adresse mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                </small>
            </div>
        </div>
            <button class="btn_register button_base button_validation">Envoyer</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
