.assurance_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    margin-top: 80px;
    margin: 80px 10px 50px 10px;
    
}

.block_assurance {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 390px;
    min-height: 290px;
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    background-color: var(--light-grey);  
    padding: 25px 10px;
}

.block_assurance i {
    font-size: 8rem;
    color: var(--dark-grey);
    margin-bottom: 20px;
}

.block_assurance h3 {
    padding-bottom: 10px;
    white-space: nowrap;
}

.block_assurance p {
    padding: 5px 15%;
    font-size: 0.95rem;
    color: var(--dark-grey);
    
}


/*************************** BANDEAU LEGAL VENTE MINEUR ***************************************/

.bandeau_boissons {
    margin-top: 100px;
    width: 100%;
    height : 90px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    border: solid 5px black;
    box-sizing: border-box;
}

.bandeau_content_1{
    font-weight: 700;
}

.bandeau_content_2{
    font-size: 0.9rem;
}

.art_code {
    text-align: right;
}
.art_code p {
    font-size: 0.8rem;
}

@media screen and (max-width:910px){

    .assurance_container {
        grid-template-columns: 1fr;
        row-gap: 5px;
        /* grid-template-rows:  */
    }

    .block_assurance {
        flex-direction: row;
        min-height: 230px;
        clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0% 90%, 0% 0%, 50% 10%);
        margin: 0 auto;
        padding-left: 5%;
        box-sizing: border-box;
        min-width: 95%;
    }
}

@media screen and (max-width:600px){

    .block_assurance h3 {
        font-size: 1.1rem;
    }
    .block_assurance i {
        font-size:6rem;
    }

    .block_assurance p {
        padding: 5px 10%;
    }

}

@media screen and (max-width:510px){

    .block_assurance h3 {
        font-size: 1rem;
    }

    .block_assurance i {
        font-size:5rem;
    }

    .block_assurance p {
        padding: 5px 5%;
    }

    .block_assurance_content {
        padding : 20px 0;
    }

}
@media screen and (max-width:380px){

    .block_assurance h3 {
        font-size: 0.95rem;
    }

    .block_assurance i {
        font-size:4rem;
    }

    .block_assurance p {
        padding: 5px 5%;
        font-size: 0.92rem;
    }

}