.secondary_title_detail_product {
    margin-bottom: 40px;
}

.product_presentation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    margin-top: 40px;
}

/******** Partie présentation du produit ********/
.img_detail_product{

    max-width: 350px;
    max-height: 350px;
    margin-right: 65px;
    margin-left: 20px;
}

.img_detail_product img {
    width:100%;
    height: auto;
    max-width: 350px;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
}

.product_informations {
    margin: 0 20px;
}
.product_designation{
    margin-bottom: 20px; 
}

.description_product {
    max-width: 603px;
    text-align: justify;
    margin-bottom: 20px ;
}

.product_price_detail_product {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--tertiary-color) ;
}

.product_liter_price {
    color: var(--dark-grey);
    font-weight: 500;
    font-size: 0.95rem;
    margin-bottom: 20px;
}


/************* form ****************/

.form_detail_product {
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form_select_qte{
    display: flex;
    flex-direction: column;
}

.form_select_qte label {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

/* Pour supprimer les flèches sur le input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item_stock {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 10px;
    
}

.few_left {
    color: rgb(99, 187, 64);
}

.stock_warning {
    color: rgb(255,0,0);
}


.input_number {
    height: 2.1rem;
    width: 35px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    border: solid 1px var(--dark-grey);
}

.select_qte{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-square-minus {
    cursor: pointer;
    margin-right: 10px;
    color: var(--main-color);
}

.fa-square-plus {
    cursor: pointer;
    margin-left: 10px;
    color: var(--main-color);
}

#minusForm {
    font-size:2.5rem;
}

#plusForm {
    font-size: 2.5rem;
}
/***************Informations détaillées*************************/

.further_informations {
    margin: 30px 20px;
}

.table_futher_informations {
    margin:0 auto 2px auto;
    width: 750px;
    font-size: 1.2rem;
}

.table_futher_informations td, .table_futher_informations th {
    border: 1px solid black;
    font-size: 1rem;
    padding: 10px;
}


/***************** Avis clients *********************/

.review {
    margin: 30px 20px;
}


.empty_review {
    text-align: center;
}

.link_add_review {
    text-decoration: underline;
    font-size: 1.4rem;
    font-weight: 600;
}

/********** En-tête reviews ************/

.reviews_summary {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto 40px auto;
    max-width: 1000px;

}

.stats_reviews {
    display: flex;
    flex-direction: row;
}

.stats_reviews p {
    font-size: 1.4rem;
    font-weight: 600;
    padding-left: 50px;
}


/************* bloc Review *****************/

.review_content {
    max-width: 1000px;
    margin: 0 auto;

}

.review_informations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 5px 0;
}

.right_review_informations{
    display:flex; 
    flex-direction: row;
    align-items: baseline;
}

.right_review_informations p {
    padding-left: 50px;
}

.review_pseudo{
    font-weight: 600;
}
.dateTime_review{
    font-size: 1rem;
    font-style: italic;
    color: var(--dark-grey);
}

.review_description {
    color: var(--dark-grey);
    margin-bottom: 30px;
    text-align: justify;
}

.review_separator {
    border-top: 1px solid var(--dark-grey);
}

.fa-star {
    color:var(--main-color);
}
.fa-star-half-stroke {
    color:var(--main-color);
}


/******************** FORMULAIRE AJOUT REVIEW ***************************/

.add_review {
    margin: 40px 20px;
}

.add_review h1 {
    margin-bottom: 20px;
 }

.add_review h2 {
    margin-bottom: 20px;
    font-style: italic;
 }

.add_review .row {
    padding-bottom: 20px;
}
.submit_review {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1080px) {
    .img_detail_product {
        margin-right: 20px;
    }

}
@media screen and (min-width: 1080px) {
    .img_detail_product img {
        min-width: 350px;
        min-height: 350px;
    }

}

@media screen and (max-width: 790px) {
    .table_futher_informations{
        min-width: 100%;
        width: unset;
    }
}

@media screen and (max-width: 735px) {
    .product_presentation {
        flex-direction: column;
        align-items: center;

    }
    .product_informations {
        margin-top: 40px;
        text-align: center;
    }
    .form_detail_product {
        width: 100%;
        justify-content: space-evenly;
    }
    .secondary_title_detail_product {
        margin-left: 0;
        text-align: center;
    }
    .further_informations {
        margin-top: 80px;
    }

    .review {
        margin-top: 80px;
    }

        /******* FORMULAIRE REVIEW *******/

        .add_review {
           text-align: center;
        }
    
}

@media screen and (max-width: 650px) {
    
    .reviews_summary {
        align-items: center;
    }
    .reviews_summary a, .reviews_summary p {
        font-size: 1.2rem;
    }

    .stats_reviews {
        flex-direction: column;
        align-items: center;
    }

    .stats_reviews p {
        padding-left: unset;
    }

    .review_informations p {
        font-size: 1rem;
    }

    .right_review_informations {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .dateTime_review {
        font-size: 0.8rem !important;
    }
}

@media screen and (max-width: 440px) {
    .form_detail_product {
        flex-direction: column;
    }

    .form_select_qte {
        padding-bottom: 30px;
    }

    .reviews_summary a {
        font-size: 1rem;
    }

    .review_description p {
        font-size: 1rem;
    }

    .secondary_title_detail_product {
        font-size: 1.4rem;
    }

    /******* FORMULAIRE REVIEW *******/

    .add_review h1 {
        font-size: 1.6rem;
    }

    .add_review h2 {
        font-size: 1.2rem;
    }
}