.flash {
    text-align: center;
    
    font-weight: 600;
    padding: 11px 30px;
    margin: 0 20px;
    border-radius: 10px;
    position: relative;
    top: -80px;
}


.flash-success {
    color: var(--dark-grey);
    background-color: var(--light-grey);
}

.flash-alert {
    color:white;
    background-color: #d14130;
}



/************* Flash ajout panier *******************/

.modal_add_cart {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.85);
    z-index: 100;
}


.flash_add_cart {
    width: 350px;
    background-color: var(--light-grey);
    border-radius: 15px;
    position:absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    padding: 20px;
}

.message_modal {
    text-align: center;
    padding-top: 15px;
}

.close_flash {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 10px;
}

.links_flash {
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 25px 0;
}

.links_flash a {
    margin: 5px;
}

.fa-square-xmark {
    font-size: 1.6rem;
}
@media screen and (max-width:420px) {
    .flash_add_cart {
        box-sizing: border-box;
        max-width: 95%;
        padding: 10px;
    }

    .message_modal {
        font-size: 1rem;
    }

    .links_flash a {
        font-size: 1rem;
    }
    
}