.formContainer{
    width: 450px;
    margin: auto;
    background-color: var(--light-grey);
    border-radius: 3px;
    box-shadow: 0 0 3px 3px var(--light-grey);
    padding: 20px 15px;
}

form {
    width: 100%;
}

.row {
    padding-bottom : 15px;
}

.btn_register  {
    display: block;
    margin: 10px auto 5px auto;
}

.input, select {
    width: 100%;
    padding: 10px;
    /* height: 2rem; */
    font-size: 1.25rem;
    box-sizing: border-box;
    border: solid 1px #d1d1d1 ;
    border: solid 1px #d1d1d1 ;
    border-radius: 3px;
}

.input_date {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
}

.input_date select {
    width: unset;
}

#registration_form_agreeTerms {
    width: 3rem;
    height: 3rem;
    border: solid 1px #d1d1d1;
}

label{
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 0 5px 10px;
}

.help_message_password {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 5px;
}

.help_message_password span {
    font-weight: 600;
}

/* messages d'erreurs */

.row ul li {
    list-style: none;
    font-style: italic;
    font-size: 0.8rem;
    color: red;
}

.errors-messages ul li{
    list-style: none;
    font-style: italic;
    font-size: 0.8rem;
    color: red;
}

.aggreeTerms{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-Width: 520px) {
    .formContainer{
        width: 95%;
        box-sizing: border-box;
    }
}