/* article de vente */
.article_product{
    width: 290px;
    height: 350px;
    padding-top: 5px;
    /* Pour test */
    /* border: solid 1px black; */
    /* box-shadow: 3px 3px 3px 3px #0568B3; */
}

/* zone image */
.img_product_article {
    position:relative;
    width: 265px;
    height: 265px;
    margin: 10px auto 0;
    /* Pour test */
    border: solid 1px black;
}


.img_product_article img {
    width: 265px;
    height: 265px;
    object-fit: cover;
}

    /* informations sur l'image */
.production_type {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: burlywood;
    padding: 3px;
    font-size: 12px;
    color:black;
    border-radius: 3px;
}

.more_info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
    background-color: #FFAF3B;
    padding: 8px 16px;
    color: black;
    opacity: 0;
    transition: 0.5s;
}

.img_product_article:hover .more_info {
    opacity: 1;
}


/* Informations sous l'image */
.product_info{
    margin: 5px
}

.product_title {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.product_price {
    margin: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color:#0568B3;
}