.products_list_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative ;
}


.container_products {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.list_products_empty {
    text-align: center;
    width: 100%;
    margin: 100px auto;
    font-size: 1.2rem;
    color: var(--dark-grey);
    font-weight: 600;
}

.list_products_empty p {
    padding-bottom: 30px;
}
.list_products_empty a {
    text-decoration:underline;
}

.paginator {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

/****************Boutons filtres et trie - dropdown btn*********************/

.filters_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    /* border: solid 1px black; */

}

.dropdown_btn_products {
    border: none;
    cursor: pointer;
    padding: 12px 45px;
    background-color: var(--tertiary-color);
    font-weight: 500;
    color :white;
    font-size: 1.2rem;
    text-align: center;

}

/***************** PArtie tri des données - dropdown menu**************/

.dropdown-sortBy {
    position: relative;
}

.btn_sort_by {
    margin-right: 45px;
}

.dropdown_sortBy_content {
    background-color: var(--tertiary-color);
    position:relative;
    right: 45px;
    z-index: 1;
}

.dropdown_sortBy_content a {
    display: block;
    padding: 12px 25px;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    font-weight: 500;
}

/****************conteneur de filtres - fromulaire *********************/

#filters_container{
    width: 270px;
    min-width: 270px;
    margin-right: 5px;
   
}

#filters_container form {
    padding-left: 5px;
}

.searchProducts {
    width: 90%;
    margin: 10px auto;
    height: 1.8rem;
    font-size: 1.2rem;
    color: var(--dark-grey);
}

.title_section_filter {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 10px 0 5px 0;

}

.filters_checkbox {
    padding-top: 5px;
}

.filters_checkbox input {
    width: 1.2rem;
    height: 1.2rem;
}

.filters_checkbox label {
    display: inline;
    font-weight: 500;
    color: var(--dark-grey); 
}

.filters_range {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark-grey);
}

.filters_range input {
    height: 1.5rem;
    width: 40px;
    margin: 0 15px 0 5px;
    font-size: 1.2rem;
}

.btn_form_filter {
    width: 100%;
}

.btn_form_filter div{
    margin: auto;
    padding-top: 40px;
    text-align: center;
}



/************* article de vente ***********************/
.article_product{
    min-width: 260px;
    width: 32%;
    max-width: 290px;
    height: 355px;
    margin: 10px 5px;
    padding: 5px 0;
    /* Pour test */
    /* border: solid 1px black; */
    box-shadow: 0 0 3px 3px var(--light-grey);
    /* border-radius: 5px;  */
}

.article_product a{
    color: black;
}

/**************** zone image - article de vente **************************/
.img_product_article {
    position:relative;
    width: 250px;
    height: 250px;
    margin: 10px auto 0;
    /* Pour test */
    /* border: solid 1px black; */
}


.img_product_article img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

    /******* informations sur l'image *******/
.production_type {
    position: absolute;
    right: 10px;
    top: 10px;
    /* COULEUR TEMPORAIRE, A MODIFIER!!! */
    background-color: burlywood;
    padding: 3px;
    font-size: 0.8rem;
    color:black;
    border-radius: 3px;
}

.more_info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
    background-color: var(--main-color);
    padding: 8px 16px;
    color: black;
    opacity: 0;
    transition: 0.5s;
}

.img_product_article:hover .more_info {
    opacity: 1;
}


/****************** Informations sous l'image *****************/
.product_info{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;
}

.product_title {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
    color:rgb(80, 80, 80);
}

.product_price {
    margin: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color:var(--tertiary-color);
}



/*************************** RESPONSIVE ******************************/


@media screen and (min-width: 1105px) {

    #filters_container {
        border-right: solid 1px var(--dark-grey); 

    }

    .filters_left {
        width: 270px;
        min-width: 270px;
        height: 100%;
        border-right: solid 1px var(--dark-grey);
        text-align: center;
    }

    #btn_filters {
        cursor:default;
        background-color: unset;
        font-weight: 600;
        color :black;
        font-size: 1.6rem;
        text-align: center;
    }
    
    #btn_filters i {
        display: none;
    }

}


@media screen and (max-width: 1104px) {
    
    /**** Partie menu filtres ****/  
    
    #btn_filters {
        margin-left: 40px;
    }

    #filters_container {
        /* display:none; */
        position:absolute;
        left: -300px;
        top:-12px;
        z-index: 998;
        background-color: var(--tertiary-color);
        transition: 
            all 1s;
            opacity: 0;
    }

    #filters_container.filterMenuResponsive {
        display: block;
        left: 40px;
        top: -12px;
        opacity: 1;
    }

    #filters_container form {
       padding: 20px 10px;
       width: unset;
    } 

    .filters_checkbox label {
        color:white;
    }

    .filters_range {
        color:white;
    }

    .btn_form_filter button {
        background-color: var(--tertiary-color-shade);
    }

    /*** Articles ***/
    .article_product{
        width: 50%;
    }
    
    @media screen and (max-width:600px) {

        .dropdown_btn_products{
            font-size: 1rem;
            padding: 14px 35px;
            font-weight: 400;
        }
        
    }

    @media screen and (max-width:440px) {

        .dropdown_btn_products{
            font-size: 1rem;
            padding: 14px 35px;
            font-weight: 400;
        }

        #btn_filters{
            margin-left: 20px;
        }

        .btn_sort_by {
            margin-right: 20px;
        }
        
        #filters_container.filterMenuResponsive {
            left: 20px;
        }
    }

    @media screen and (max-width:390px) {

        .dropdown_btn_products{
            padding: 14px 30px;
            font-weight: 400;
        }

        #btn_filters{
            margin-left: 10px;
        }

        .btn_sort_by {
            margin-right: 10px;
        }
        
        #filters_container.filterMenuResponsive {
            left: 10px;
        }
    }


}