/* @import url(header.css); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(list_products.css);
@import url(detail_product.css);
@import url(header.css);
@import url(form.css);
@import url(profil.css);
@import url(paginator.css);
@import url(cart.css);
@import url(assurance.css);
@import url(footer.css);


:root {
    --main-color-header-variation: #F2A03D;
    --main-color: #FFAF3B;
    --main-color-shade: #ffb13b9f;
    --secondary-color: #A66619;
    --tertiary-color: #0872A6;
    --tertiary-color-shade: #3F8DB5;
    --dark-grey: #505050;
    --light-grey: #f1f1f1; 

}

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0px auto;
    padding: 90px 0;
}

a {
    text-decoration: none;
    color:black;
}

h1 {
    font-size: 2.2rem;
}

h2 {
   font-size: 1.8rem;
}

p {
    font-size: 1.2rem;
}

small {
    font-style: italic;
}

table, th, td {
    border-collapse: collapse;
}

/************ LES BOUTONS *****************/

.button_base {
    cursor: pointer;
    color :white;
    text-align: center;
    background-color: var(--tertiary-color);
    transition: 0.2s;
}

.button_base:hover {
    background-color: var(--tertiary-color-shade);
}

.button_links {  
    padding: 15px 45px;
    font-weight: 500;
    font-size: 1.2rem;
}

/* div qui contient bouton back */
.action_back {
    padding-left: 20px;
    height: 50px;
    display: flex ;
}

.button_back {
    padding: 15px 20px;
    font-size:1rem;
    font-weight: 500;
}

.button_validation {
    width: 180px;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
}

/* div validation étapes commande panier + check adress */
.step_validation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.button_step_validation {
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 15px;
    width: 350px;
}

/****************** HOME PAGE *******************/

.main_title {
    text-align: center;
    margin-bottom: 10px;
}

.main_title_complement {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.secondary_title {
    padding: 30px 190px 55px;

}

/***  Partie présentation association ***/

.container_presentation {
    background-color: var(--main-color-shade) ;
    padding: 100px 0 100px 0;
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0 100%);
}

.home_presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img_home_presentation{
    width: 400px ;
    height: 400px ;
    object-fit: cover;
}

.section_presentation {
    text-align: justify;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_presentation {
    padding-bottom: 20px;
}

.button_div{
    width: 100%;
    height: 100px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

/***************** PARTIE NOUVEAUTES ***********************/


/* .container_nouveautes{
    background-color: #0871a6a8;
    padding: 100px 0 100px 0;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
} */
.home_separator {
    border: 0;
    height: 2px;
    background-image: linear-gradient(
        to right,
        var(--light-grey),
        rgba(0, 0, 0, 0.75),
        var(--light-grey)
        );
}

.newProducts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

.newProducts article {
    width: 270px;
    background-color: white ;
}

@media screen and (min-width: 805px) and  (max-width: 1000px){
    .home_presentation {
        align-items: flex-start;
    }

    .img_home_presentation{
        height: 350px;
        width: 350px;
    }

    .section_presentation{
        max-width: 360px;
    }
}
@media screen and (max-width: 805px){
    .secondary_title {
        padding: 0 0 30px 0;
        text-align: center;
    }

    .home_presentation{
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
    }

    .img_home_presentation{
        height: 350px;
        width: 350px;
        padding-bottom: 30px;
    }

    .section_presentation{
        max-width: 500px;
        margin: 0 10px;
    }
@media screen and (max-width: 805px){
    .img_home_presentation{
        max-width: 100%;
    }
}
}