/* @import url(header.css); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(list_products.css);
@import url(detail_product.css);


:root {
    --main-color: #FFAF3B ;
    --secondary-color: #0568B3;
    --dark-grey: #505050;
    --light-grey:

}


*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h2 {
   font-size: 24px;
   margin-bottom: 20px;
}


.button_validation {
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 10px;
    color :white;
    background-color: var(--secondary-color);
}

table, th, td {
    border-collapse: collapse;
}