{% extends 'base.html.twig' %}

{% block title %}la  Boutique{% endblock %}

{% block body %}

{# {{ dump(products) }} #}



    <article class="article_product">
        <a href="">
            <div class="img_product_article">
                <div class="production_type">
                    <span>Ephémère</span>
                </div>
                <div class="more_info">plus d'infos</div>
                <img src="upload/images/products/61526b5400c41bc45c78c9215c0da4590d2a2980.jpg" alt="image produit">
            </div>
        </a>
        <div class="product_info">
            <p class="product_title">Désignation du produit - 33cl</p>
            <p class="product_price">2.95 € T.T.C.</p>
        </div>
        
    </article>






{% endblock %}
