<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur le site de l'échoppe{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {% block javascripts %}
        {% endblock %}
        <script src="{{ asset('js/script.js')}}"></script>
    </head>
    <body>

    
        {% include "_partial/_header.html.twig" %}

        <div class="container">
            
        {% block body %}{% endblock %}

        
        {% include "_partial/_footer.html.twig" %}
       
        </div>
    </body>
</html>
