<p>Bonjour,</p>
<br>
<p>votre commande N° {{ reference }} a bien été enregistrée.</p>
<p>Nous vous recontacterons dès que votre commande sera prête.</p>

<p>Pour accéder à votre facture, rendez-vous dans votre menu profil  -> détails de la commande. </p>
<br>
<p>Toute l'équipe de l'association l'échoppe vous remercie pour votre soutien. </p>
<br>

<p>A bientôt!</p>
<br>
<p>Association l'échoppe</p>
