{% extends 'base.html.twig' %}

{% block title %}Commande terminée{% endblock %}

{% block body %}

<p>Votre commande a bien été prise en compte.</p>

<a href="{{path('products_index')}}"> Retour boutique</a>
<a href="{{path('order_detail', {'reference' : reference})}}"> Voir le détail de la commande</a>
<a href="{{path('app_userProfile')}}"> Accédez à votre profil</a>


{% endblock %}