{% extends 'base.html.twig' %}

{% block title %}Commande terminée{% endblock %}

{% block body %}

    <div class="action_back">
        <a href="{{path('products_index')}}" class="button_base button_back"><i class="fa-solid fa-chevron-left"></i> Retour boutique</a>
    </div>

    <div class="stripe_redirect_container">
        <div class="stripe_redirect_content">
            <p>Votre commande a bien été prise en compte.</p>
            <p>Un mail de confirmation va vous être envoyé, veuillez vérifier votre boîte mail.</p>
        </div>
        
        <div class="button_stripe_success">
            <a href="{{path('order_detail', {'reference' : reference})}}" class="button_base button_links"> Voir le détail de la commande</a>
            <a href="{{path('app_userProfile')}}" class="button_base button_links"> Accédez à votre profil</a>
        </div>
       

    </div>
{% endblock %}