{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>Erreur</p>
    <p>
        Une erreur est survenue...
    </p>
    <p>{{ exception.message }}</p>

    
    <div class="action_back">
        <a href="{{path('app_home')}}" class="button_base button_back"><i class="fa-solid fa-chevron-left"></i> Retour à la page d'accueil</a>
    </div>
{% endblock %}