<div class="assurance_container">

    <div class="block_assurance">
        <div>
            <i class="fa-solid fa-display"></i>
            <h3>1 - Commande</h3>
        </div>
        <div class="block_assurance_content">
            <p>Commande en ligne et paiement sécurisé.</p> 
            <p>Lors de votre première commande, réglez votre <span style="font-weight:600;">cotisation annuelle</span> et profitez de nos tarifs préférentiels.</p>
        </div>
    </div>

    <div class="block_assurance">
        <div>
            <i class="fa-solid fa-clipboard-check"></i>
            <h3>2 - Préparation</h3>
        </div>
        <div class="block_assurance_content">
            <p>Un email de confirmation vous est envoyé dès que votre commande est prête</p>
            <p style="font-style: italic;">Le délais de préparation peut varier en fonction des stocks et délais de livraisons.</p>
        </div>
    </div>

    <div class="block_assurance">
        <div>
            <i class="fa-solid fa-shop"></i>
            <h3>3 - Retrait</h3>
        </div class="block_assurance_content">
        <p>Venez récupérer votre commande dans notre échoppe.</p>
    </div>


</div>