


<div class="bandeau_boissons">

    <img src="{{ asset("upload/images/site/Republique_Francaise-logo.png")}}" alt="logo de la république française" class="logo_fr">

    <div class="bandeau_content">
        <p class="bandeau_content_1">Interdiction de vente de boissons alcooliques aux mineurs de moins de 18 ans</p>
        <p class="bandeau_content_2">La preuve de majorité de l'acheteur est exigée au moment de la vente en ligne.</p>
        <div class="art_code">
            <p>CODE DE LA SANTE PUBLIQUE, ART. L. 3342-1 et L. 3353-3</p>
        </div>
    </div>

</div>