<footer>

    <div class="footer_container">
        <div class="mandatory_legal_message">
            <p>L'abus d'alcool est dangereux pour la santée, à consommer avec modération. Déconseillé aux femmes enceintes. </p>
            <p>La vente d'alcool est interdite aux mineurs, en accèdant à ce site vous délarez avoir au moins 18 ans. CODE DE LA SANTE PUBLIQUE, ART. L. 3342-1 et L. 3353-3</p>
        </div>

        <div class="footer_sections">

            <section class="legal_informations">
                <h4>Notre association</h4>
                <ul>
                    <li><i class="fa-solid fa-chevron-right"></i><a href="{{ path('app_mentions') }}"> Mentions légales</a></li>
                    <li><i class="fa-solid fa-chevron-right"></i><a href=""> Conditions générales de vente</a></li>
                    <li><i class="fa-solid fa-chevron-right"></i><a href=""> Conditions d'utilisation</a></li>
                    <li><i class="fa-solid fa-chevron-right"></i><a href=""> Protection des données et vie privée</a></li>
                </ul>
            </section>

            <section class="social_networks_links">
                <h4>Suivez nous</h4>
                <div class="logos_social_networks">
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                </div>
                <a href=""><i class="fa-solid fa-envelope"></i> Nous contacter</a>
            </section>

            <section class="asso_informations">
                <h4>Informations</h4>
                <div>
                    <div class="adress_and_opening">
                        <i class="fa-solid fa-location-dot"></i>
                        <div>
                            <p>01, rue du Paradis du Houblon</p>
                            <p>67000 Strasbourg</p>
                        </div>
                    </div>
                    <div class="adress_and_opening">
                        <i class="fa-solid fa-business-time"></i>
                        <p> Mar-Ven : 16h-23h, Sam : 13h-22h </p>
                    </div>
                </div>
            </section>

        </div>

        <div class="copyright_container" >
            <p>Copyright 2023 - Association l'échoppe</p>
        </div>
    </div>

</footer>